.container {
    margin: -90px 0px;
}

.navbar {
    background: rgb(245, 244, 244);
    height: 100px;
    color: white;
    display: flex;
    justify-content: right;
    border-bottom: black 1px solid;
}


.nav-links {
    color: white;
    display: flex;
    width: 75%;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: right;    
    margin-right: 80px;
}


.nav-links a {
    color: rgb(168, 168, 168);
    text-decoration: none;
    font-size: 1em;
    filter:brightness(.5);
    margin-right: 40px;
}
.nav-links a:hover {
    filter: brightness(1);
}

.title {
    display: flex;
    position: relative;
    top: 90px;
    align-items: baseline;
    justify-content: left;
    margin-left: 80px;
}

.title a {
    text-decoration: none;
    color: black;
}

.title a:hover {
    filter: opacity(.5);
}

.title h1 {
    margin-right: 10px;

}

.title h4 {
    font-family: cursive;
}