.container {
    margin: -90px 0px;
}

.navbar {
    /* background: linear-gradient(rgb(0, 0, 0), rgb(38, 34, 114),black); */
    height: 100px;
    color: white;
    display: flex;
    justify-content: right;
    
}


.nav-links {
    color: white;
    display: flex;
    width: 75%;
    position: relative;
    /* top: -50px; */
    align-items: center;
    flex-direction: row;
    justify-content: right;    
    margin-right: 100px;
}


.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    filter:brightness(.5);
    margin-right: 40px;
}
.nav-links a:hover {
    filter: brightness(1);
}

.title {
    display: flex;
    position: relative;
    top: 90px;
    align-items: baseline;
    justify-content: left;
    margin-left: 100px;
}

.title h1 {
    margin-right: 10px;
}

.title h4 {
    font-family: cursive;
}