.about-page-container {
    padding: 50px 0;
    display: flex;
    align-items: top;
    justify-content: space-evenly;
    color: white;
    background: rgb(36, 36, 36);
    border-bottom:rgb(48, 48, 48) 2px solid;
}

.btn-container {
    
}

.about-page-container h1 {
    font-size: 1.5vw;
    font-style: italic;
}

.about-page-container p {
    font-size: 1;
}

.about-image {
    width: 45%;
    margin-right: 60px;
    box-shadow: 0px 0px 10px white;
    border-radius: 20px;
}
.bio-descriptions{
    width: 100%;
    font-size: 1vw;
    text-align: left;
    margin-left: 60px;
    margin-right: 20px;
    line-height: 1.5;
}

 .bio-btn {
    background: none;
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
    border: none;
    filter: brightness(.5);
 }

.bio-btn-active {
    filter: brightness(1);
}

.show {
    display: block;
}

.hide {
    display: none;
}

@media screen and (max-width:830px){
    .about-page-container{
        flex-direction: column;
    }

    .about-page-container h1 {
        font-size: 2em;
        text-decoration: underline;
    }

    .bio-descriptions{
        text-align: center;
        margin: 0;
        font-size: 1em;
    }

    .about-image{
        align-self: center;
        width: 80%;
        margin-right: 0;
    }
    
}

