.credits-page-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: rgb(36, 36, 36);
    border-bottom:rgb(48, 48, 48) 2px solid;
} 

.album-credits {
    background: rgb(36, 36, 36);
    color: white;
    margin: 0;
    padding-top: 40px;
    font-family: 'Cairo', sans-serif;
    font-size: 2vw;
    text-align: center;
}
.jbtv {
    display: flex;
    justify-content: center;
    font-size: 1.25vw;
    padding-top: 0;
}
@media screen and (max-width:965px){
    .credits-page-container{
        flex-direction: column;
        align-items: center;
    }

    .album-credits {
        font-size: 5.5vw;
    }
}
