@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Noto+Serif&display=swap');

.project-page-container {
    color: white;
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    /* align-items:center; */
    background: rgb(36, 36, 36);
    border-bottom:rgb(48, 48, 48) 2px solid;
}

.projects-title {
    background: rgb(36, 36, 36);
    color: white;
    margin: 0;
    padding-top: 40px;
    font-family: 'Cairo', sans-serif;
    font-size: 1.5vw;
    text-align: center;
}

@media screen and (max-width:830px){
    .project-page-container{
        flex-direction: column;
    }

    .projects-title {
        font-size: 5vw;
    }
}