.container {
    /* margin: -90px 0px; */
}

.navbar {
    background: rgb(245, 244, 244);
    height: 100px;
    color: white;
    display: flex;
    justify-content: right;
    border-bottom: black 1px solid;
    box-shadow: black 0px 0px 20px;
}


.nav-links {
    color: white;
    display: flex;
    width: 75%;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: right;    
    margin-right: 60px;
}


.nav-links a {
    color: rgb(168, 168, 168);
    text-decoration: none;
    font-size: 1em;
    filter:brightness(.5);
    margin-right: 40px;
}
.nav-links a:hover {
    filter: brightness(1);
}

#title {
    display: flex;
    position: absolute;
    color: black;
    top: 10px;
    align-items: baseline;
    justify-content: left;
    margin-left: 60px;
}

#title a {
    text-decoration: none;
    color: black;
}

#title a:hover {
    filter: opacity(.5);
}

#title h1 {
    margin-right: 10px;

}

#title h4 {
    font-family: cursive;
}

.sticky {
    position: sticky;
    top: 0;
}

.menu-icon {
    display: none;
    color: black;
}

@media screen and (max-width: 1050px) {
.menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    height: 300px;
    position: relative;
    top: 130px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }


  .nav-links {
    text-align: left;
    padding: 5px;
    width: 100%;
  }

  .active {
    color: rgb(132, 81, 81);
  }

}