.navbar {
    background: rgb(245, 244, 244);
    height: 80px;
    color: white;
    display: flex;
    justify-content: right;
    border-bottom: black 1px solid;
    box-shadow: black 0px 0px 20px;
}

.nav-menu {
    display: flex;
    justify-content: right;
    top: 30px;
    width: 100%;
    right: -30px;
    /* height: 40px; */
    position: absolute;
  }


.nav-links {
    color: white;
    display: flex;
    width: 75%;
    position: relative;
    flex-direction: row;
    justify-content: right;    
    margin-right: 60px;
}


.nav-links a {
    color: rgb(168, 168, 168);
    text-decoration: none;
    font-size: 1em;
    filter:brightness(.5);
    margin-right: 40px;
}
.nav-links a:hover {
    filter: brightness(1);
}

#title {
    display: flex;
    position: absolute;
    color: black;
    top: 0px;
    align-items: baseline;
    justify-content: left;
    margin-left: 60px;
}

#title a {
    text-decoration: none;
    color: black;
}

#title a:hover {
    filter: opacity(.5);
}

#title h1 {
    margin-right: 10px;
}

#title h4 {
    font-family: cursive;
}

.sticky {
    position: sticky;
    top: 0;
}

.menu-icon {
    display: none;
    color: black;
}


@media screen and (max-width: 830px) {

.menu-icon {
    display: block;
    position: absolute;
    top: 0px;
    right: 10px;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .nav-menu {
    height: 110px;
    position: absolute;
    top: -200px;
    left: 0px;
    /* transition: all 2s ease; */

  }

  .nav-menu.active {
    background: rgb(245, 244, 244);
    top: 59px;
    left: 0px;
    border-bottom: black 1px solid;
    /* transition: all 2s ease; */
    box-shadow: rgba(0, 0, 0, 0.368) 0px 8px 5px;

  }

  .nav-links {
      display: flex;
      flex-direction: column;
      margin-left: 15px;
      top: 5px;
      font-size: 25px;
  }

  .nav-item {
      padding-bottom: 3px;
  }


  #title {
     margin-left: 10px;
}
  .active {
     display: flex;
     flex-direction: column;
     align-items: left;
}

.hide {
    display: none;
}
}