.p-card-bg {
    background: rgb(36, 36, 36);
    margin: 0 .5%;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    transition: width 300ms;
    font-size: 1em;
    cursor: pointer;
    transition: width 400ms;    
}

.p-card-title {
    color: rgb(187, 187, 187);
    text-align: center;
    margin-top: 1%;
    font-size: 1.25vw;
    font-family: 'Noto Serif', serif;
    animation-name: fadeIn; 
    animation-duration: 1s;
}

.p-card-image {
    width: 100%;
    padding-top: 5%;   
    transition: filter 200ms;
}

.p-card-image:hover {
    filter: brightness(1.2);
}

.p-card-stack {
    font-size: .75vw;
    color: rgb(187, 187, 187);
    text-align: center;
    animation-name: fadeIn; 
    animation-duration: 2s;
}

.p-card-bg a {
    color: white;
    text-decoration: none;
}

.modal-hidden {
    display: none;
}

.modal-showing {
    display: block;
}

.modal-button {
    cursor: pointer;
    font-size: .85vw;
    color: red;
    transition: color .5s;
}

.modal-button-hidden {
    display: none;
}

.modal-button:hover {
    cursor: pointer;
    color: rgb(180, 180, 180);
}

.title-hidden {
    display: none;
}

.stack-hidden {
    display: none;
}

.smaller {
    width: 40%;
    margin: 5% 0%;
    animation-name: fadeIn; 
    animation-duration: 3s;
}

.bigger {
    transition: width 200ms;
    width: 165%;
}

@media screen and (max-width:965px){

    .p-card-bg {
        background: black;
        box-shadow: 0px 0px 10px white;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px 0;
        filter: opacity(1)
    }

    .p-card-bg:hover {
        width: 100%;
    }

    .p-card-title {
        display: block;
        color: rgb(187, 187, 187);
        text-align: center;
        margin-top: 1%;
        font-size: 6vw;
        font-family: 'Noto Serif', serif;
        animation-name: fadeIn; 
        animation-duration: 0s;
    }
    
    .p-card-stack {
        display: block;
        font-size: 3.5vw;
        color: rgb(187, 187, 187);
        text-align: center;
        animation-name: fadeIn; 
        animation-duration: 0s;
    }

    .p-card-image {
        width: 50%;
        padding-top: 5%;    
    }

    .modal-hidden {
        display: block;
    }

    .modal-button {
        display: none;
    }
    
    .smaller {
    animation-name: fadeIn; 
    animation-duration: 0s;
    }

    .title-hidden {
        display: block;
        color: rgb(187, 187, 187);
        text-align: center;
        margin-top: 1%;
        font-size: 6vw;
        font-family: 'Noto Serif', serif;
        animation-name: fadeIn; 
        animation-duration: 0s;
    }

    .stack-hidden {
        display: block;
        font-size: 3vw;
        color: rgb(187, 187, 187);
        text-align: center;
        animation-name: fadeIn; 
        animation-duration: 0s;
    }

}