.outer-box {
    background: #1e1e1e;
    height: 400px;
    width: 600px;
    border: rgb(103, 103, 103) solid .5px;
    border-radius: 10px;
    color: rgb(64, 14, 200);
}

.outer-box span{
    color: rgb(21, 233, 21);
}

.top-bar {
    height: 27px;
    width: 599px;
    background: #333232;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: rgb(103, 103, 103) solid .5px;
    border-right: rgb(103, 103, 103) solid .5px;
    border-left: rgb(103, 103, 103) solid .5px;
    box-shadow: rgb(0, 0, 0)  0px 0px 1px;
}

.dots-container {
    display: flex;
    position: relative;
    top: 5px;
    align-content: center;
    margin: 2px 8px;
}

.red {
    background: #ff5f57;
    border-radius: 100%;
    width:12px;
    height: 12px;
    margin-right: 8px;
}

.black {
    background: rgba(0, 0, 0, 0.541);
    border-radius: 100%;
    width: 4px;
    height: 4px;
    position: relative;
    top: 4px;
    left: 4px;
}

.yellow {
    background: #febc2e;
    border-radius: 100%;
    width:12px;
    height: 12px;
    margin-right: 8px;
}

.green {
    background: #28c841;
    border-radius: 100%;
    width:12px;
    height: 12px;
    margin-right: 8px;
}

.folder-back {
    background: #316c8a;
    position: relative;
    top: -.5px;
    width: 14px;
    height: 10px;;
}

.folder-middle {
    background: #316c8a;
    position: absolute;
    top: -1.5px;
    width: 5.5px;
    height: 8px;
    border-top-right-radius: 2px;
}

.folder-front {
    width: 14px;
    height: 10px;
    position: relative;
    top: 3px;
    background: linear-gradient(#5a7c8a, #457c96, #18668b );
    box-shadow: #0000 20px 5px 2px;
}

.header-text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#989898;
    position: relative;
    top: -20px;
    left: 5px;
}